/*Website designed by Zach Christensen*/

*{
	margin:0;
	box-sizing: border-box;
	font-family:Arial;
}

.Suite{
	margin:1em;
	padding:1em;
	border: 1px solid #444;
}

.Spec{
	margin:1em;
	padding:1em;
	border: 1px solid #444;
}