/*Website designed by Zach Christensen*/

*{
	margin:0;
	box-sizing: border-box;
	font-family:Arial;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Merriweather', serif;
}

header h1{
	text-shadow: 3px 3px 0px rgba(0,0,0,0.2);
	float:left;
    font-family: 'Merriweather', serif;
	color:#FFF;
    font-size:3em;
}

.droptarget {
    width: 96%;
    height: 10px;
    margin: 0 20px;
    background: black;
		overflow: hidden;
		opacity: 0.2;
		position:absolute;
}

.droptarget.dragover {
    padding: 15px;
    border: 5px dashed #000;
}

#filename{
	float:right;
	font-size:1em;
	color:#FFF;
	font-family: 'Arial', serif;
}

html, body{
	background-color:#eee;
	height: 100%;
}

.wrapper {
	min-height: 100%;
	margin: 0 auto 2em;
}

.inner {
    width: 60em;
    margin: 0 auto;
    overflow: hidden;
}

.mainInner {
    width: 60em;
    margin: 0 auto;
    overflow: hidden;
    border-left: 0.1em solid #ccc;
    border-right: 0.1em solid #ccc;
}

header{
	height:6em;
    line-height:6em;
	background-color:#93B2E8;
	z-index:3;
}

.nav{
    background-color: #A2DCFF;
	margin-bottom:0.3em;
}

.nav1 {
	overflow: hidden;
	border-right: 1px solid #a3c3d2;
}

.navInner {
    width: 60em;
	margin: 0 auto;
}

.navInner li {
	float: right;
	display: block;
	color:#111;
}

.navInner li:last-child{
}

.navInner li:hover {
	background-color: #B1DCAD;
}

.current-page:hover {
	background-color: #BCE9B7;
}

.navInner a {
	display: block;
	padding: 0.6em 1.3em;
	text-decoration: none;
	font-weight: bold;
}

.navInner a:visited {
    color: #333;
}
a:-webkit-any-link {
	color: #333;
}
.nav2{
    display:none;
}

.current-page{
	background-color: #83DC79;
}

input,select{
	font-size: 11pt;
}

#content{
    padding: 2em;
    width: 70%;
    float: left;
}

#content h2{
    text-align: center;
}

#main{
	width: 60em;
	margin: 0 auto;
}

.Root,
.Suite,
.Spec,
.Assert,
.Misc,
.Setup
{
	margin:1em;
	padding:1em;
	border: 1.5px solid #FFF;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropbtn {
    background-color: #2c3d66;
    color: white;
    padding: 8px;
    font-size: 16px;
    border: none;
    cursor: pointer;
	border:1px solid #7c8fbf;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a{
    color: black;
	cursor: pointer;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #4863a8;
	border:1px solid #333;
}


/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 99;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.modal-container {
    background-color: #FFF;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.modal-container h2{
    margin-bottom: 7px;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
	position: relative;
	top: -13px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#newRootBtn{
	display: none;
	background-color: #FFF;
	margin: 0 auto;
	margin-top: 2em;
	padding: 0.7em 3em;
	font-size: 2em;
	text-align:center;
}

.error {
    width:200px;
    height:auto;
    position: fixed;
    right:10px;
    bottom:10px;
    background-color: #383838;
    color: #F0F0F0;
    font-family: Calibri;
    font-size: 20px;
    padding:10px;
    text-align:center;
	opacity:0;
	transition: opacity 0.4s linear;
}

#ctxMenu{
    display:none;
    z-index:90;
}

menu {
    position:absolute;
    display:block;
    left:0px;
    top:0px;
    height:2em;
    width:2em;
    padding:0;
    margin:0;
    border:1.2px solid;
    background-color:#FFF;
    font-weight:normal;
    white-space:nowrap;
}

menu:hover{
    background-color:#8AAAFF;
    font-weight:bold;
}
menu > menu:hover{
	cursor:pointer;
	color:white;
}
menu:hover > menu{
    display:block;
	color:black;
}
menu > menu{
    display:none;
    position:relative;
    top:-30px;
    left:100%;
    width:140px;
}
menu[title]:before{
    content:attr(title);
}
menu:not([title]):before{
    content:" \2630";
	font-size:1.3em;
	left: 5px;
	position: relative;
}

@media screen and (max-width: 61em) {
	header h1{
		font-size:2.5em;
	}

	.left-button{
		font-size: 0.85em;
	}

	.inner {
		width: 45em;
	}

	#main {
		width: 45em;
	}

	.navInner {
		width: 45em;
	}

	.footerInner {
		width: 45em;
	}
}

@media screen and (max-width: 46em) {
	header h1 {
		font-size: 2.2em;
	}

	.inner {
		width: 37em;
	}

	#main {
		width: 37em;
	}

	.navInner {
		width: 100%;
		font-size: 1em;
	}

	.nav1 a {
		font-size: 0.9em;
	}
}

@media screen and (max-width: 38em) {
	body{
		min-width:30em;
	}

	header h1{
		font-size:2em;
	}

	#main{
		clear: both;
		width: 36em;
	}

	.inner {
		width: 30em;
	}

	.mainInner {
		width: 30em;
	}

	.navInner li {
		border-right:none;
	}

	.nav1{
        display:none;
    }

	.nav2{
		width: 100%;
        display:inline;
		margin-bottom:2em;
    }

	.nav{
		width: 100%;
		float: left;
	}

	.nav2 li{
		display:block;
		float:none;
	}

	.nav2 ul{
		padding-left: 0;
	}

	.nav2 a{
		text-align: center;
	}

	.navInner{
		 width: 100%;
	}

	#content{
		width: 100%;
	}
}

@media print{
    .nav{
        display:none;
    }
    header{
        display:none;
    }
    footer{
        display:none;
    }
    #content{
        width:100%;
    }
}
